.widgetWrapper {
    height: 3rem;
    border-radius: 15px;
    background-color: #eae7dd9c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 1rem;
}

.widgetWrapper:hover {
    border: 2px solid orange;
}

.widgetWrapper:active {
    transform: translateY(-3px);
}